html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margins */
}

body {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange children in a column */
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #F5EFFF; /* Light blue background */
}

h1 {
    text-align: center;
    color: #A294F9; /* Light purple for h1 */
}

h2 {
    color: #A294F9; /* Light purple for h2 */
}

p {
    color: #9AA6B2; /* Gray for paragraphs */
}

.main-content {
    flex: 1; /* Allow main content to grow and fill available space */
    padding: 20px;
}

.info-section {
    margin-bottom: 20px;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 15px;
    background-color: #A294F9; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8B7CC3; /* Darker shade for button hover effect */
}

footer {
    text-align: center;
    background-color: #BCCCDC; /* Footer background color */
    color: white; /* Footer text color */
    padding: 10px 0;
}
